*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.btn-delete,
.btn-add {
  cursor: pointer;
  color: #fff;
  text-align: center;
  padding: 0.4em 1.2em;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  outline: 0;
  font-weight: bold;
  font-size: 1.3rem;
}

.btn-delete {
  background-color: hsl(0, 65%, 48%);
}

.btn-delete:hover {
  transform: scale(1.025);
  background-color: hsl(0 65% 48% / 0.8);
}

.btn-add:hover {
  transform: scale(1.025);
  background-color: hsl(236 96% 43% / 0.8);
}

.btn-add {
  background-color: hsl(236 96% 43%);
}

.toggle-edit-btn {
  cursor: pointer;
  position: fixed;
  top: 50%;
  left: 1%;
  border-radius: 0.25rem;
  color: yellow;
  font-weight: bold;
  font-size: 1.5rem;
  background-color: hsl(0, 65%, 48%);
  outline: 0;
  border: 0;
  max-width: 2rem;
  height: 2rem;
  padding-left: 0.4em;
  overflow-x: hidden;
  letter-spacing: 0.25em;
  transition: max-width 0.5s ease-out, letter-spacing 0.5s ease-out;
}

.toggle-edit-btn:hover {
  max-width: 10rem;
  letter-spacing: 0.1em;
}

.app-title {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
}
